[Unit]
Wants=network-online.target
After=network-online.target
Before=yacs_runner.service
Description=Yacs updater

[Service]
ExecStart={} update-components -y

[Install]
WantedBy=multi-user.target